<div class="header">
    <div class="header-name-block">
        <h1>
            Chris Montgomery
        </h1>
    </div>
    <div class="header-menu-block">
        <a href="javascript:makeContent('index');">
            <div class="header-menu-item">
                Home
            </div>
        </a>
        <a href="javascript:makeContent('blog');">
            <div class="header-menu-item">
                Blog
            </div>
        </a>
        <a href="chris_montgomery_resume.pdf">
            <div class="header-menu-item">
                Resumé
            </div>
        </a>
    </div>
</div>